#root {
    width: 40%;
    margin: 0 auto;
    font-family: Roboto;
}
#dogProfileForm, #userProfileForm {
    display: flex;
    flex-direction: column;
    background-color: rgba(212, 222, 235, 0.493);
    padding: 30px;
}

#dogProfileForm, #userProfileForm label, input, select, textarea, button {
    margin-top: 10px;
    height: 160%;
}

// #dogProfileForm, #userProfileForm textarea {
//     height: 100px;
// }